{% extends "menu.html" %}

{% block page_content %}
{{ super() }}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>Month</th>
                <th>Week</th>
                <th>Day</th>
                <th>Last gamedays</th>
                <th>Streak</th>
                <th>Market price</th>
                <th>Min. price</th>
                <th>Owner</th>
            </tr>

            {% for player in user.players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.position }}</td>
                <td>Month</td>
                <td>Week</td>
                <td>Day</td>
                <td>Last gamedays</td>
                <td>Streak</td>
                <td>Market price</td>
                <td>Min. price</td>
                <td>Owner</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}