{% extends "menu.html" %}

{% block page_content %}
{{ super() }}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Player</th>
                <th>Club</th>
                <th class="text-right">Value</th>
                <th class="text-right">Points</th>
                <th>Position</th>
                <th>Last gamedays</th>
                <th>Streak</th>
            </tr>

            {% for player in user.players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.club.name }}</td>
                <td class="text-right">{{ player.prices[-1].price  | format_money }}</td>
                <td class="text-right">{{ player.points | sum_points }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.points[-5:] | format_gamedays }}
                </td>
                <td>{{ player.points[-5:] | sum(attribute='points') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}