{% extends "base.html" %}

{% block title %}Tradunio{% endblock %}

{% block logged %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.sell') }}">Sell</a></li>
        <li><a href="{{ url_for('main.buy') }}">Buy</a></li>
        <li><a href="{{ url_for('main.update_mkt') }}">Update Market</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    </ul>
</div>

{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome {{ username }} <small>Last update: {{ user['date'] }}</small></h1>
    <div class="row">
        <div class="col-md-2"><b>Players</b></br>{{ user['num_players'] }}</div>
        <div class="col-md-3"><b>Teamvalue</b></br>{{ user['teamvalue'] | format_money }}</div>
        <div class="col-md-2"><b>Money</b></br>{{ user['money'] | format_money }}</div>
        <div class="col-md-2"><b>Max. bid</b></br>{{ user['maxbid'] | format_money }}</div>
        <div class="col-md-2"><b>Points</b></br>{{ user['totalpoints'] }}</div>
    </div>
</div>

{% endblock %}