{% extends "base.html" %}

{% block title %}Tradunio{% endblock %}

{% block logged %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.sell') }}">Sell</a></li>
        <li><a href="{{ url_for('main.buy') }}">Buy</a></li>
        <li><a href="{{ url_for('main.update') }}">Update</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    </ul>
</div>

{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome {{ username }} <small>Last update: {{ user.userdata[-1].date }}</small></h1>
    <div class="row">
        <div class="col-md-2">Players</br>{{ user.players.count() }}</div>
        <div class="col-md-3">Teamvalue</br>{{ user.userdata[-1].teamvalue | format_money }}</div>
        <div class="col-md-2">Money</br>{{ user.userdata[-1].money | format_money }}</div>
        <div class="col-md-2">Max.bid</br>{{ user.userdata[-1].maxbid | format_money }}</div>
        <div class="col-md-2">Points</br>{{ user.userdata[-1].points }}</div>
    </div>
</div>

{% endblock %}